@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: 0;
    list-style: none;
}

body,
html {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

div {
    display: block;
}

section {
    overflow: hidden;
}

/* ========> Global <======== */

main {
    display: block;
}

.putih-500 {
    color: white;
    background: unset;
    font-size: inherit;
    font-weight: inherit;
}

.border-button {
    background: white;
    padding: 0.5rem 20px;
    color: black;
    border-radius: 20px;
    font-weight: 600;
}

/* ========> Header <======== */
header {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 20px 18.5rem;
    z-index: 1000;
    transition: all 1s;
}

.logo {
    position: relative;
    display: flex;
}

.logo img {
    padding-top: 5px;
    object-fit: cover;
    width: 100px;
}

nav {
    font-size: 17px;
    font-weight: bold;
    height: 100%;
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
}

.dropdown:hover .container__dropdown {
    display: block;
}

@keyframes fadeOut {
    from {
        top: 40px;
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.bg-nav {
    background: black;
}

.segitiga {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-radius: 20px;
    border-color: #ffffff transparent transparent transparent;
}

.container__dropdown {
    display: none;
    position: absolute;
    top: 20px;
    padding-top: 30px;
    animation: 0.3s fadeOut;
}

.content__dropdown {
    gap: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #1b1919;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
}

.a__dropdown {
    padding-right: 100px;
    width: 100%;
    height: 100%;
    background: unset;
    color: #ffffff;
    z-index: 1;
}

.a__dropdown:hover {
    color: #352c2c;
    transition: all 0.2s;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

section#test {
    height: 100vh;
}

/* ========> Hero <======== */
.hero {
    background-image: url(https://wallpaperaccess.com/full/3881687.jpg);
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    padding: 120px 0 0 0;
    min-height: 768px;
}

.hero:in-range .tagline {
    background-color: red;
    border: 2px solid yellow;
}

.container {
    max-width: 100%;
    margin: 0 18.5rem;
    height: 100%;
}

.tagline {
    color: white;
    width: 450px;
    font-style: bold;
    font-size: 40px;
    padding: 20vh 0 0 0;
}

.cta {
    padding-top: 5vh;
    display: flex;
    gap: 15px;
}

.button__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid white;
    font-size: 18px;
    padding: 0.5rem 20px;
    color: white;
    border-radius: 20px;
    font-weight: 500;
}

/* ========> Services <======== */
.services {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
}

.services__tagline {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #444444;
    margin: 20px 0 56px 0;
    font-weight: 700;
}

.image__services {
    display: flex;
    justify-content: center;
    gap: 25px;
    width: 100%;
}

.img_w_tagline {
    position: relative;
    height: 100%;
    user-select: none;
}

.img_w_tagline>img {
    object-fit: cover;
    max-width: 100%;
    width: 550px;
    height: 405px;
    background-position: center center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.item__tagline {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 10%;
    padding-left: 20px;
    color: white;
    font-size: 34px;
    width: 350px;
}

.item__desc {
    height: 25px;
    font-weight: 400;
    padding-top: 10px;
    display: flex;
    color: white;
    font-size: 14px;
    width: 350px;
}

.gelap {
    filter: grayscale(90%);
}

/* ========> Payment <======== */
.payment {
    height: 168px;
    background: #eceaea;
    display: flex;
    flex-direction: column;
}

.payment__tagline {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: #2c2b2b;
    margin: 20px 0 16px 0;
    font-weight: 700;
}

.payment__slide {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.slide__item {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    gap: 5vw;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px inset;
    border-radius: 20px;
}

.logo__payment {
    background-size: cover;
    object-fit: cover;
    width: 72px;
    height: 72px;
}

.logo__item {
    position: relative;
    display: flex;
    align-items: center;
}

/* ========> Swiper <======== */

.swiper-kiri {
    position: absolute;
    border-radius: 999px;
    background: white;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.swiper-kanan {
    position: absolute;
    border-radius: 999px;
    background: white;
    padding: 10px;
    transform: scaleX(-1);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.swiper-button-prev {
    color: #0d0d0d;
}

.swiper-button-next {
    color: #0d0d0d;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: none;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: none;
}

/* ========> Shipping <======== */

.shipping {
    height: 168px;
    background: #eceaea;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.shipping__slide {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.shipping__tagline {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: #2c2b2b;
    margin: 72px 0 16px 0;
    font-weight: 700;
}

.logo__shipping {
    background-size: cover;
    object-fit: cover;
    width: 72px;
    height: 72px;
}

/* ========> Testimonials <======== */
.testimonials {
    padding: 120px 0;
    background: url(img/bennett.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.testimonials__tagline {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #ffffff;
    margin: 10px 0 16px 0;
    font-weight: 700;
}

.testimonials__slide {
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}

.testimonials__item {
    background: white;
    color: #505050;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 24px;
    margin: 40px 0px;
    min-height: 186px;
    width: 375px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.testimonals__comment>p {
    width: 100%;
    height: 66px;
}

.testimonials__user {
    display: flex;
    flex-direction: row;
    margin: 24px 0 0 0;
    gap: 30px;
}

.testimonials__user>img {
    width: 50px;
    height: 50px;
    border-radius: 999px;
    object-fit: cover;
}

.user p:first-child {
    color: #a4a4a4;
}

.user p:last-child {
    color: #0d0d0d;
    font-weight: 600;
}

/* ========> Download <======== */

#download {
    padding: 48px 0 60px 0;
    text-align: center;
}

.download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download__tagline {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 28px;
    color: #282828;
    margin: 10px 0 0 0;
    font-weight: 700;
}

.button__cta__download {
    background: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid white;
    font-size: 18px;
    padding: 1rem 20px;
    color: white;
    border-radius: 999px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.button__cta__download:hover {
    border-color: rgb(65, 125, 194);
}

/* ========> Footer <======== */
#footer {
    background: #0d0d0d;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
}

.footer-top {
    padding: 70px 0 30px 0;
}

.footer-top h4 {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    position: relative;
    margin-bottom: 16px;
    line-height: 135%;
}

.footer {
    display: flex;
    flex-wrap: wrap;
}

/* ===> Footer - Info 1 */

.info-1 {
    margin-bottom: 15px;
    color: #fff;
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-info1-img img {
    width: 100px;
}

.footer-info1-address {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-info1-address h3 {
    font-size: 24px;
}

.footer-info1-address p {
    font-size: 16px;
}

/* ===> Footer - Info 2 */

#footer .footer-top .footer .info-2 {
    width: 33%;
    margin-bottom: 30px;
}

#footer .footer-top .footer .info-2 h4 {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    position: relative;
    margin-bottom: 16px;
    line-height: 135%;
}

#footer .footer-top .footer .info-2 ul {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 135%;
}

#footer .footer-top .footer .info-2 ul li {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

#footer .footer-top .footer .info-2 ul li a {
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    display: inline-block;
    font-size: 16px;
    line-height: 135%;
    font-weight: 600;
}

/* ===> Footer - Info 3 */

.info-3 {
    width: 33%;
}

.info-3 .footer-contact {
    margin-bottom: 40px;
}

.info-3 .footer-contact h4 {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    position: relative;
    margin-bottom: 16px;
    line-height: 135%;
}

.info-3 .footer-contact p {
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
}

.info-3 .footer-social {
    margin-bottom: 40px;
}

.info-3 .footer-social .social-links {
    display: flex;
    gap: 10px;
}

.info-3 .footer-social .social-links .social-logo {
    background: #444444;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
}

.info-3 .footer-download .download-logo {
    display: flex;
    gap: 15px;
}

.info-3 .footer-download .download-logo a {
    background: #444444;
    padding: 5px;
    border-radius: 10px;
}

/* ========> Copyright <======== */
#footer .copyright {
    text-align: center;
}
